main{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 50px;
    background: url(../images/background2.jpg);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 25px;
    -webkit-box-shadow: 0 0 14px 3px black;
    box-shadow: 0 0 16px 0px black;
    border-radius: 10px;
	h3 {
	width:(1260/9);
	text-align:center;
	display:inline-block;
	font-size:28px;
	cursor:pointer;
	}
}

.class{
	position: absolute;
    top: 140px;
    left: 15%;
    right: 15%;
}

h2{
	display: inline-block;
    cursor: pointer;
    font-size: 32px;
    padding-bottom: 5px;
    padding-top: 10px;
}

.toggle-content{
	display:inline-flex;
}

.activeColor#druid {color:brown;}
.activeColor#hunter {color:green;}
.activeColor#mage {color:#509BD8;}
.activeColor#paladin {color:yellow;}
.activeColor#priest {color:lightgrey;}
.activeColor#rogue {color:#57545B;}
.activeColor#shaman {color:#2648F2;}
.activeColor#warlock {color:purple;}
.activeColor#warrior {color:red;}
.activeColor{text-shadow: -1px 1px 2px #182823;}

#druid:hover{ color:brown;text-shadow: -1px 1px 2px #182823;}
#hunter:hover{ color:green;text-shadow: -1px 1px 2px #182823;}
#mage:hover{ color:#509Bd8;text-shadow: -1px 1px 2px #182823;}
#paladin:hover{ color:yellow;text-shadow: -1px 1px 2px #182823;}
#priest:hover{ color:lightgrey;text-shadow: -1px 1px 2px #182823;}
#rogue:hover{ color:#57545B;text-shadow: -1px 1px 2px #182823;}
#shaman:hover{ color:#2648f2;text-shadow: -1px 1px 2px #182823;}
#warlock:hover{ color:purple;text-shadow: -1px 1px 2px #182823;}
#warrior:hover{ color:red;text-shadow: -1px 1px 2px #182823;}



.deck-enabler{
	display:flex;
	flex-direction:column;
}

.flex{
	display:inline-flex;
}

.deck img{
	width:200px;
}

#duskbat{
	padding-top:11px;
}

.codehs{
	font-family: 'Merriweather', serif;
	position:absolute;
	width:100%;
	top:360px;
	left:0%;
	display:none;
}

.listDeck{
	padding-bottom:20px;
}

.activeDeck{
	background-color: #FFEBC4;
    box-shadow: 0 0 20px 11px #FFEBC4;
}

.comment{
	padding-bottom:15px;
}

.welcome{
	position: absolute;
    top: 180px;
    left: 20%;
    right: 20%;
    font-size:40px;
    #welcome{
    	font-size:60px;
    }
}

.hide{
	display:none;
}

.visible{
	display:block;
}

.btn{
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    background-image: url(../images/background2.jpg);
    color: white;
    border-line:none;
    outline:0;
    font-family:'Lobster', cursive;
    font-size:20px;
    margin-bottom:30px;
}

.deck-enabler:hover{
    background-color: #FFEBC4;
    box-shadow: 0 0 20px 11px #FFEBC4;
}

.notdone::after{
    content:"Copy Decklist";
}

.done::after{
    content:"Deck copied";
}